/*#f8f9fc*/
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-wrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s ease-in 0s 1 slideInFromTop;
  background-color: white;
  z-index: 100;
}

.header-logo {
  margin-left: 10%;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.header-menu .bell {
  fill: #bec9da;
  width: 20px;
  height: 20px;
  margin-right: 40px;
}

.header-menu .bell:hover {
  fill: #686d75;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 12px;
  color: white;
  background: rgb(135, 206, 162);
  text-align: center;
}

.avatar:hover {
  background: rgba(135, 206, 162, 0.705);
}

.avatar p {
  font-size: 1.3em;
  cursor: pointer;
}

.header-menu__content {
  cursor: pointer;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10%;
  top: 65px;
}

.header-menu__content > * {
  color: black;
  display: block;
}

.header-menu__content-username {
  color: #686d75;
  text-align: center;
  margin-top: 1em;
  font-size: 0.9em;
}

.header-menu__content-hr {
  color: #d4d3d3;
  width: 80%;
}

.header-menu__content-list {
  margin: 1.2em;
}

.header-menu__content-list li {
  padding-bottom: 0.4em;
}

.header-menu__content a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

#toggle-menu,
.header-menu__content {
  display: none;
}

#toggle-menu:checked ~ .header-menu__content {
  display: block;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 120px;
  background-color: #f8f9fc;
}

.content-cards {
  display: grid;
  grid-template-areas:
    "img js php php"
    "img js php php"
    "img js dotnet event"
    "qa js dotnet blog"
    "qa java dotnet contacts"
    "qa java dotnet contacts";
  grid-template-rows: 100px 100px 200px 200px 150px;
  grid-template-columns: 2fr 2fr 3fr 1fr;
  width: 80%;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.binary-card {
  grid-area: img;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.binary-card:hover {
  transform: rotateY(180deg);
}

.content-card__binary-qa,
.content-card__binary-qa {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
}

.binary-card__front-binary {
  width: 100%;
  height: 100%;
  background: url("../assets/images/37505874.png");
  background-repeat: no-repeat;
  background-position: center;
}

.binary-card__back-binary {
  transform: rotateY(180deg);
  background-color: white;
  flex-direction: column;
  font-size: 1.2em;
}

.qa-card {
  grid-area: qa;
  background-color: #52bf77;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.qa-card:hover {
  transform: rotateY(180deg);
}

.content-card__front-qa,
.content-card__back-qa {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
}

.content-card__front-qa {
  font-size: 7em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card__back-qa {
  transform: rotateY(180deg);
  background-color: white;
  flex-direction: column;
  font-size: 1.2em;
}

.content-card__back-qa p {
  padding: 0.6em;
}

.js-card {
  grid-area: js;
  background-color: #f7cf69;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.js-card:hover {
  transform: rotateY(180deg);
}

.content-card__front-js,
.content-card__back-js {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
}

.content-card__front-js {
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 8em;
  font-weight: 700;
}

.content-card__back-js {
  transform: rotateY(180deg);
  background-color: white;
  flex-direction: column;
  font-size: 1.2em;
}

.content-card__back-js p {
  padding: 0.6em;
}

.java-card {
  display: block;
  width: 100%;
  height: auto;
  grid-area: java;
  background-color: #e12b4c;
  position: relative;
}

.java-card:hover .content-card__back-java {
  height: 100%;
}

.content-card__front-java {
  color: white;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-card__back-java {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.content-card__back-java p {
  font-size: 1em;
  padding: 5px;
  color: black;
  position: absolute;
}

.php-card {
  grid-area: php;
  background-color: #8893c0;
  position: relative;
  display: flex;
  justify-content: center;
}

.content-card__front-php {
  font-size: 6em;
  font-style: italic;
  display: block;
  width: 100%;
  height: auto;
}

.content-card__back-php {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.3s ease-in-out;
  font-size: 1.2em;
}

.content-card__back-php p {
  padding: 0.6em;
}

.php-card:hover .content-card__back-php {
  bottom: 0;
  height: 100%;
}

.dotnet-card {
  grid-area: dotnet;
  background-color: #642077;
  position: relative;
}

.content-card__front-dotnet,
.content-card__back-dotnet {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.content-card__front-dotnet {
  color: white;
  font-size: 9em;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content-card__back-dotnet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.dotnet-card:hover .content-card__back-dotnet {
  width: 100%;
}

.content-card__back-dotnet p {
  padding: 0.6em;
  font-size: 2em;
}

.event-card {
  grid-area: event;
  background-color: #2d99fe;
  position: relative;
}

.content-card__front-event {
  color: white;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-card__back-event {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow-x: scroll;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  font-size: 0.9em;
}

.event-card:hover .content-card__back-event {
  width: 100%;
  left: 0;
}

.blog-card {
  grid-area: blog;
  background-color: #0443a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card .content-card__front {
  color: white;
  font-size: 1.4em;
}

.contacts-card {
  grid-area: contacts;
  background-color: #00255f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-card .content-card__front {
  color: white;
  font-size: 1.4em;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f8f9fc;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.notification-wrapper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  height: 80px;
  border-radius: 5px;
  margin-top: 1em;
  color: white;
  padding-left: 1em;
}

.notification-icon {
  padding-right: 20px;
  fill: white;
}

.notification-success {
  background-color: #77b676;
}

.notification-error {
  background-color: #cc615a;
}

.notification-warning {
  background-color: #faa045;
}
